body {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font: 12px Tahoma;
	border: 0;
	margin: 0;
	color: #393939;
}
/*div {
	box-sizing: border-box;
}*/
h1 {
	margin: 0;
	font-weight: normal;
}
a {
	color: #24b5e1;
}
p {

	line-height: 1.5;
}

header {
	display: flex;
	flex-basis: 100%;
	height: 150px;
	justify-content: center;
	flex-wrap: wrap;
}
.logo-holder {
	display: flex;
	flex-basis: 980px;
	align-items: center;
	justify-content: space-between;
	height: 110px;
}
.phone {
	display: flex;
	align-items: center;
}
.phone-number {
	font-size: 12pt;
	margin-left: 10px;
}

.nav {
	display: flex;
	flex-basis: 100%;
	background-color: #f1f1f1;
	justify-content: center;
}
.navigation {
	display: flex;
	flex-basis: 980px;
	align-items: center;
	justify-content: space-between;
}
.nav-ul-li > a{
	font-size: 12pt;
	text-decoration: none;
	color: #393939;
	cursor: pointer;

}
.bread-crumbles {
	flex-basis: 980px;
	/*background-color: blueviolet;*/
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 40px;
	/*padding-top: -100px;*/
	padding-bottom: 25px;
	/*border: 1px solid red;*/
}
.item-bread-crumbles {
	color: #969696;
}
.item-bread-crumbles > a {
	color: #969696;
}
.arrow-bread-crumbles {
	padding: 0 10px 0 5px ;
}

.main {
	width: 980px;
	height: 1650px;
	/*background-color: tomato;*/
	display: flex;
}
.article {
	 flex-basis: calc(70% - 25px);
	 min-height: 100vh;
	 /*background-color: gray;*/
 }
.article-card-h3, .article-card-1-in-3, .article-card-table, .tabloid-item, .card-news {
	border-bottom: 1px dotted gainsboro;
}

img {
	display: block;
	object-fit: cover;
}
ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}
.article-card-ul-li, .article-card-ul-li-2 {
	line-height: 1.6;
	font-size: 11pt;
}
.article-card-ul-li::before {
	content: url("../images/img_string.png");
}
.article-card-imageholder {
	display: flex;
	justify-content: space-between;
}
.article-card-imageholder:nth-child(2){
	margin: 25px 0;
}
.imageholder {
	flex-basis: 215px;
}
.article-card-ul-li-2 {
	font-size: 11pt;
}

/*table*/
.column:nth-child(1){
	width: 60px;
}
.column:nth-child(2){
	width: 160px;
}
.column:nth-child(3){
	width: 160px;
}
.column:nth-child(4){
	width: 160px;
}
.column:nth-child(5){
	width: 160px;
}
table {
	display: table;
}
tr:nth-child(2n) {
	background-color: #fafafa;
}

td {
	height: 35px;
	text-align: center;
	border: 0;
}

/* TABS*/

#tab-1, #tab-2, #tab-3 {
	display: none;
}
.wrapper-tab {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
label {
	cursor: pointer;
	display: block;
	flex-basis: 110px;
	padding: 8px 0;
	background-color: gainsboro;
	text-align: center;
	border-radius: 5px 5px 0 0;
	margin-right: 5px;
}
.tabloid_ {
	width: 700px;

}
.tabloid-item {
	width: 700px;
	padding-top: 10px;
	border-top: 1px solid cornflowerblue;
	margin-top: 5px;
	position: absolute;
	/*background-color: #ffaaff;*/

	height: 100px;
	opacity: 0;
}
#tab-1:checked ~ #tabloid > div:nth-of-type(1),
#tab-2:checked ~ #tabloid > div:nth-of-type(2) {
	opacity: 1;
}
#wrapper > input:checked + label {
	background-color: aqua;
}

/* RIGHT SIDE  RIGHT SIDE   RIGHT SIDE RIGHT SIDE   RIGHT SIDE   RIGHT SIDE   RIGHT SIDE*/

.aside {
	flex-basis: calc(30% - 25px);
	min-height: 80vh;
	/*background-color: green;*/
	margin-left: 50px;
	padding-right: 10px;

}
input {
	height: 30px;
}
.search {
	width: 100%;
	/*background-color: #ffaaff;*/
	text-align: center;

}
.icon-search {
	display: inline-block;
	width: 100%;
	background: url("../images/img_zoom.png") no-repeat 95% 50%;
	border-radius: 5px;
}

.card-news {
	padding: 15px 0;
}
.card-news > .date {
	font-size: 9pt;
	color: #969696;
}
.card-news > a {

	font-size: 12pt;
	line-height: 1.5;
}


.button {
	width: inherit;
	padding: 20px 0;
	text-align: right;

}
button {
	width: 100px;
	height: 30px;
	border: 0;
	border-radius: 5px;
	background-color: #e9e9e9;


}
.form-subscription {
	text-align: right;
}
.form-subscription .input-name,
.form-subscription .input-email {
	display: inline-block;
	width: calc(100% - 10px);
	border: 1px solid #969696;
	border-radius: 5px;
	padding-left: 10px;
	margin-bottom: 15px;
	/*margin: 0 0 10px 10px;*/
}
.form-subscription .submit {
	width: 120px;
	height: 30px;
	border: 0;
	border-radius: 5px;
	background-color: #24b5e1;
	margin-top: 20px;
	color: white;
	/*margin-left: 150px;*/

}
/*FOOTER*/

footer {
	display: flex;
	flex-basis: 980px;
	height: 75px;
	/*background-color: darkgoldenrod;*/
	justify-content: space-between;
	align-items: center;
	font: 12px Tahoma;
}
.social {
	display: flex;
	justify-content: space-between;
}
.social-icons:nth-child(2) {
	margin: 0 5px;
}

